{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "vender/bootstrap/css/bootstrap.css" %} ">
    <link rel="stylesheet" href="{% static "vender/bootstrap-icons/bootstrap-icons.css" %} ">
</head>
<body>


    <scrip src="{% static "vender/jquery-3.6.0.min.js" %} "></scrip>
    <scrip src="{% static "vender/bootstrap/js/bootstrap.bundle.js" %}"></scrip>
</body>
</html>







<!--<header>-->
<!--    <a href="{% url 'home' %}">Home</a>-->
<!--    <hr>-->
<!--    <hr>-->
<!--    <a href="{% url 'about' %}">about</a>-->
<!--</header>-->

<!--{% block content %}-->
<!--{% endblock %}-->