{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="text-right">
            <a href="{% url "posts_create" %}" class="btn btn-info ">Qo'shish </a>
        </div>
        <div class="list-group">
            {% for post in posts %}
                <div class="list-group-item  align-items-center">
                    <div>
                        <h4>{{ post.title }}</h4>
                        <p>{{post.text }}</p>
                    </div>
                    <div class="ml-auto">
                        <a href="{% url "posts_update" post.id %}" class="btn btn-warning">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="{% url "posts_delete" post.id %}" class="btn btn-primary">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            {% empty %}
            <div class="contsiner text-center">
                <h4>Postlar mavjud emas</h4>
            </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}